*{
  margin: 0;
  padding: 0;
  }
  body
  {
    background-image:url("test.jpg");
    background-size: cover
  }        
  
  .men{
  width: 860px; 
  margin: 0 auto;
  }
  .men ul{
  list-style: none;
  margin-top: 2%;
  }
  .men ul li {
  background: #000000;
  width: 170px;
  border: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: #ff0000;
  font-size: 16px;
  position: relative;
  font-family: Chiller;
  font-size:23;
  }
  .men ul li:hover{
  background: rgb(64, 64, 64); 
  }
  
  .men ul ul{
  display: none;
  }
  .men ul li:hover > ul{
  display: block;
  }
  .men ul ul ul{
  margin-left: 170px;
  top: 0;
  position: absolute;
  }
  